<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://wallpapers.com/images/hd/iron-man-pictures-k83lqhe6vnh95b1m.jpg"
        alt=""
        srcset=""
        >
    </div>


    <div class="big-card__title">
        <h1>
            <a href="">Saiu a nova versao do Angular</a>
        </h1>
        </div>
        <div class="big-card__description">
        <p>
            <a href="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque optio ad natus ipsum ea fuga officiis praesentium quisquam! Iste id corrupti aliquid temporibus illum dolores consequatur ullam facere reprehenderit suscipit?
            </a>
        </p>
        </div>
</div>
